# Python
__pycache__/
*.pyc
.env
.env.*
backend/.venv/
.pytest_cache/
.mypy_cache/

# Databases
*.sqlite3
*.db

# Node / React Native
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/

# OS / Editor
.DS_Store
.vscode/
.idea/